/*.logo{
  text-align: center;
  padding-top: 90px;

}
.hea{
  text-align: center;
  /* text-decoration-style: solid; */
  /* color: #FFFFFF; */
  /*font-size: 60px;
  /* top: 10%; */
}
/*.ind{
      background-image: url(img9.gif);
      background-attachment: fixed;
      background-size:cover;
      height:auto;
      width: auto;
      position: relative;
      align-items: center;
      /* background-repeat: no-repeat; */
}
*/